* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none; 
    background-color: rgba(0,0,0,0.2);
}
.display-none{
    display: none;
}

body,html{
    background-color: white;
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
body {
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
body.ios{
    top:0;
    left: 0;
    position: fixed;
}

button {
    margin: 0;
    padding: 0;
    border: 1px solid black;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-align: center;
    height: 2.5em;
    margin-bottom: 0.5em;
    padding: 0.3em;
    display: block;
}
button.c1{
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

input, select{
    border-radius: 0px;
}

.application{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.application .front{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0.6);
    /*background: rgba(0,0,0,0);*/
}
.application .front.show{
    /*background: rgba(0,0,0,0.6);*/
}
.application .deep{
    width: 100%;
    height: 100%;
    position: absolute;
}

.animate{
    -webkit-transition: -webkit-transform .4s ease-out;
       -moz-transition: -webkit-transform .4s ease-out;
        -ms-transition: -webkit-transform .4s ease-out;
         -o-transition: -webkit-transform .4s ease-out;
            transition: -webkit-transform .4s ease-out; 
}

.doble-column{
    width: 100%;
    position: absolute;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transform-origin: 0px 0px;
    -webkit-transform: translate3d(0px, 0px, 0px) scale(1);
}
.doble-column.show-right{
    -webkit-transform: translate3d(-60%, 0px, 0px) scale(1);
}
.doble-column.show-right.show-sidebar{
    -webkit-transform: translate3d(40%, 0px, 0px) scale(1);
}
.doble-column.show-sidebar{
    -webkit-transform: translate3d(100%, 0px, 0px) scale(1);
}
.doble-column .column{
    width: 80%;
    position: absolute;
    height: 100%;
}
.doble-column .column.right{
    float: right;
    left: 80%;
}
.doble-column .column.left{
    float: left;
    left: 0;
}
.doble-column .column>div{
    padding-bottom: 44px;
}

.scrollable{
    overflow: hidden;
}
.scrollable>div{
    position: absolute;
    width: 100%;
}

.sidebar{
    position: absolute;
    height: 100%;
    width: 90%;
    -webkit-transform-origin: 0px 0px;
}
.sidebar.right{
    -webkit-transform: translate3d(199%, 0px, 0px) scale(1); /*relativo a el mismo*/
}
.sidebar.right.show{
    -webkit-transform: translate3d(11%, 0px, 0px) scale(1);
}
.sidebar.left{
    -webkit-transform: translate3d(-100%, 0px, 0px) scale(1);
}
.sidebar.left.show{
    -webkit-transform: translate3d(0%, 0px, 0px) scale(1);
}
.sidebar>div{
    padding-bottom: 44px;
}

.popup{
    position: absolute;
    left: 2.5%;
    top: 1%;
    height: 85%;
    width: 95%;
    margin: 0 auto;
    overflow: auto;
    -webkit-transform-origin: 0px 0px;
}
.popup.bottom{
    -webkit-transform: translate3d(0px, 120%, 0px) scale(1);    
}
.popup.show{
    -webkit-transform: translate3d(0, 0, 0) scale(1);
}
.popup > .scrollable{
    height: 100%;
    position: absolute;
    width: 100%;
}
.popup .scrollable > div{
    padding-top:50px;
}
.popup.have-toolbar{
    overflow: initial;
}
.popup h1, .popup h2{
    margin: 0;
    font-weight: normal;
}
.popup .toolbar{
    display: relative;
    /*-webkit-transition: -webkit-transform 0ms;*/
    /*-webkit-transform-origin: 0px 0px;*/
    /*-webkit-transform: translate3d(-2px, -1px, 0px) scale(1);*/
    top: -1px !important;
    left: -1px;
    padding-right: 3px;
}

form{
    padding: 10px;
}
form label{
    display: block;
    margin-bottom: 10px;
    height: 2em;
    border-bottom: 1px solid black;
    position: relative;
}
form span.label{
    position: absolute;
    bottom: 0px;
    height: 1.6em;
    padding-top: 0.5em;
    padding-left: 0.3em;
    text-align: right;
}
form span.input{
    height: 2em;
    display: block;
    float: right;
}
form input, form select{
    height:  2em;
    float: left;
    background: transparent;
    padding: 0;
    margin: 0;
    border:none;
    outline: none;
    width: 100%;
    font-size:inherit;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

p.medium{
    text-align: justify;
    padding: 10px;
}

.toolbar{
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 300000;
}
.toolbar.top{
    top: 0;
}
.toolbar.fixed{
    position: fixed;
}
.toolbar .center{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    z-index: -20;
}
.toolbar .search-input{
    padding: 0 50px 0 50px;
}
.toolbar .search-input input{
    margin: 4px 0;
    height: 40px;
    width: 100%;
    font-family: inherit;
    font-size: 1em;
    background: transparent;
    border: none;
    padding: 5px 0;
    letter-spacing: 0.1em;
}
.toolbar .left{
}
.toolbar h1{
    margin: 0;
    padding: 0;  
    font-weight: 200;
}
.toolbar .center h1{
    font-size: 24pt;
}
.toolbar .left h1{
    padding: 10pt;
    font-size: 16pt;
}
.toolbar .hide{
    display: none;
}
.toolbar button {
    width: 40px;
    height: 40px;
    top: 0;
    padding: 0;
    margin: 5px;
    text-indent: -500px;
}
.toolbar button.text{
    width: auto;
    padding: 0 15px;
    text-indent: 0;
}
.toolbar button.left{
    left: 0px;
    float: left;
}
.toolbar button.right{
    right: 0px;
    float: right;
}
.toolbar .title-app h1 {
    padding-top: 0.2em;
}

.view.full{
    height: 100%;
}
.view .centered{
    max-width: 15em;
    margin: 0 auto;
}
.view .inner{
    padding: 10px;
}

ul{
    margin: 0;
    padding: 0;
}
ul.grid li{
    list-style: none;
    display: block;
    float: left;
}
ul.vertical li img {
    height: 2.5em;
    width: 2em;
    float: left;
    margin: 5px;
}
ul.vertical li p {
    margin: 0;
    padding: 0 10px;
}
ul.vertical li a{
    display: block;
    height: 100%;
}
ul.vertical li {
    list-style: none;
    height: 3em;
    padding: 5px 0;
    border-top: 1px solid black;
}
ul .right{
    float: right;
}
ul button{
    margin: 5px;
}

/*Es el unico que se le permite tener un nombre tan especifico*/
.book{
    /*overflow: hidden;  para que tenia esto?*/ 
    margin: 10px;
    position: relative;
}
.book.small{
    height: 150px;
    width: 92px;
}
.book.medium{
    height: 242px;
    width: 150px;
}
.book img{
    width: 100%;
    height: 100%;
}
.book p{
    display: block;
    padding: 0.5em;
    font-size: 0.8em;
    height: 1.5em;
    margin: 0;
    text-align: center;
}

.ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.image.left{
    float: left;
}

.loading{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 500000;
    background-color: rgba(0,0,0,0.25);
}
.loading div.center{
    position:absolute;
    top:45%;
    width: 100%;
}
.loading div.img{
    display: block;
    height: 3px;
    margin: 0 auto;
    -webkit-animation:rotate 1.1s infinite linear;
            animation:rotate 1.1s infinite linear;
}

@-webkit-keyframes rotate{
0%{-webkit-transform:rotate(0deg)}
100%{-webkit-transform:rotate(360deg)}
}

@keyframes rotate{
0%{transform:rotate(0deg)}
100%{transform:rotate(360deg)}
}

.loading-bar.hover{
    position: absolute;
    width: 80%;
    height: 20px;
    top: 50%;
    left: 10%;
    background: green;
    display: none;
}
.loading-bar .complete{
    height: 100%;
    width: 0%;
    background-color: blue;
}

@media screen and (min-width: 640px) {

.popup{
    left: 10%;
    top: 5%;
    height: 80%;
    width: 80%;
}

}

@media screen and (min-width: 840px) { 

.popup{
    left: 20%;
    height: 80%;
    width: 60%;
}

.book.small{
    height: 242px;
    width: 150px;
}

body{
    font-size: 21px;
}

.doble-column.show-right{
    -webkit-transform: translate3d(-10%, 0px, 0px) scale(1);
}
.doble-column .column{
    width: 55%;
}
.doble-column .column.right{
    left: 55%;
}

}