* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    outline: none; 
}
.template{
    display: none;
}

body,html{
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: hidden;
}
body {
    font: 18px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    /*line-height: 1.4em;*/
    background: #5C291A;
    color: white;
    /*width: 550px;*/
    /*margin: 0 auto;*/
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

button {
    margin: 0;
    padding: 0;
    border: 0;
    background: none;
    font-size: 100%;
    vertical-align: baseline;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.animate{
    -webkit-transition: -webkit-transform .4s ease-out;
       -moz-transition: -webkit-transform .4s ease-out;
        -ms-transition: -webkit-transform .4s ease-out;
         -o-transition: -webkit-transform .4s ease-out;
            transition: -webkit-transform .4s ease-out; 
}

.doble-column{
    width: 100%;
    position: absolute;
    /*width: 100%;*/
    height: 100%;
    top: 0;
    left: 0;
-webkit-transform-origin: 0px 0px;
-webkit-transform: translate3d(0px, 0px, 0px) scale(1);
}
.doble-column.show-right{
-webkit-transform: translate3d(-60%, 0px, 0px) scale(1);
}
.doble-column.show-right.show-sidebar{
    -webkit-transform: translate3d(40%, 0px, 0px) scale(1);
}
.doble-column.show-sidebar{
    -webkit-transform: translate3d(100%, 0px, 0px) scale(1);
}
.doble-column .column{
    width: 80%;
    position: absolute;
    background-image: url(../images/noise.png);
    height: 100%;
}
.doble-column .column.right{
    background-color: #3D180D;
    float: right;
    left: 80%;
}
.doble-column .column.left{
    float: left;
    left: 0;
}

.sidebar{
    background: indigo;
    position: absolute;
    height: 100%;
    width: 90%;
    -webkit-transform-origin: 0px 0px;
}
.sidebar.right{
    -webkit-transform: translate3d(199%, 0px, 0px) scale(1); /*relativo a el mismo*/
}
.sidebar.right.show{
    -webkit-transform: translate3d(11%, 0px, 0px) scale(1);
}
.sidebar.left{
    -webkit-transform: translate3d(-100%, 0px, 0px) scale(1);
}
.sidebar.left.show{
    -webkit-transform: translate3d(0%, 0px, 0px) scale(1);
}

.popup{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0,0,0,0);
/*    -webkit-transition: background-color .4s ease-out;
       -moz-transition: background-color .4s ease-out;
        -ms-transition: background-color .4s ease-out;
         -o-transition: background-color .4s ease-out;
            transition: background-color .4s ease-out;*/ 
}
.popup>div{
    position: absolute;
    left: 0%;
    top: 0%;
    height: 100%;
    width: 100%;
    margin: 0 auto;
     -webkit-transform-origin: 0px 0px;
}
.popup.show{
    background: rgba(0,0,0,0.6);
}
.popup.bottom>div{
    /*display: none;*/
    -webkit-transform: translate3d(0px, 110%, 0px) scale(1);    
}
.popup.show>div{
    /*display: block;*/
    -webkit-transform: translate3d(0, 0, 0) scale(1);
}



form{
    padding: 10px;
}
form label{
    display: block;
    margin-bottom: 10px;
    height: 30px;
    border-bottom: 1px solid white;
    position: relative;
}
form span.label{
    /*display: inline;*/
    position: absolute;
    /*width: 70px;*/
    bottom: 0px;
    height: 1.5em;
    text-align: right;
    /*float: left;*/
    /*background: blue;*/
}
form span.input{
    height: 30px;
    display: block;
    float: right;
    /*background: red;*/
    /*border: 1px solid black;*/
}
form input, form select{
    height: 30px;
    display: block; 
    background: transparent;
    padding: 0;
    margin: 0;
    /*text-indent: 75px;*/
    border:none;
    outline: none;
    width: 100%;
    font-size:inherit;
    font-family: inherit;
    color: inherit;
    -webkit-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}
form button{
    border: 1px solid black;
    height: 40px;
    padding: 10px;
}

.toolbar{
    height: 44px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 300000;
    text-align: center;
}
.toolbar .center{
    width: auto;
    padding: 0 44px;
}
.toolbar .hide{
    display: none;
}
.toolbar h1{
    font-weight: 200;
    color: yellow;
    margin: 0;
    margin-top: 5px;
    font-size: 2em;
    text-align: center;
    padding: 0;
    height: 44px;
}
.toolbar input{
    margin: 4px 0;
    height: 20px;
    /*display: block;*/
    width: 100%;
    font-family: inherit;
    font-size: 1.5em;
    background: transparent;
    border: none;
    padding: 5px 0;
    border-bottom: 2px solid yellow;
    color: yellow;
}
.toolbar button {
    width: 32px;
    height: 32px;
    border: 1px solid #0B1E33;
    border-radius: 5px;
    top: 0;
    position: absolute;
    margin: 5px;
}
.toolbar button.left{
    left: 0px;
    float: left;
}
.toolbar button.right{
    right: 0px;
    float: right;
}


.column{
    overflow: auto !important;
}
.column ul{
    margin: 0;
    padding: 0;
    /*display: inline-block;*/
}
.column>div{
    position: absolute;
    width: 100%;
    padding-bottom: 44px;
}
.column li{
    list-style: none;
    display: block;
    float: left;
    -webkit-perspective: 800;
    -webkit-perspective-origin: 60% 60%;
}
.book.small img{
    height: 150px;
    
    
    /*display: inline-block;*/
}
.book{
    padding: 10px;
    /*float: left;*/
    -webkit-transition: -webkit-transform .4s ease-out;
}
.book.rotate {
    -webkit-transform: rotateY(-180deg);
    -webkit-transition: -webkit-transform .4s ease-out;
}

@media screen and (min-width: 640px) { 

.popup>div{
    left: 10%;
    top: 5%;
    height: 80%;
    width: 80%;
}

}

@media screen and (min-width: 840px) { 

.popup>div{
    left: 20%;
    height: 80%;
    width: 60%;
}

}