/*Estructura*/
#view .photo


/*Color*/
form .label{
	color: #787464;
}
form input, form select{
	background: #eee;
}

#search, #search>div{
	background: url(../images/fondo.png);
}

#add .toolbar{ 
	background: #006303;
	color: white;
}

.popup{
	color: black;
	background: #E6E3DA;
	border:1px solid #E6E3DA;
}

.toolbar{
    background: #1C3D61;
}

