<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1,minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>FindBooks app</title>
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/jquery.js"></script>
    <script src="js/quo.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="js/iscroll-lite.js"></script>
    <script src="js/parse-1.1.15.min.js"></script>
  </head>

  <body>

    <div id="all">
      
    </div>

    <!-- Templates -->

    <script type="text/template" id="home-template"> 
      <section id="home" class="doble-column show-right">
        <section id="highlight" class="column left"><div>
          <ul></ul>
        </div></section>

        <section id="personal" class="column right"><div>
          <ul></ul>  
        </div></section>
      </section>
    </script>

    <script type="text/template" id="book-template">
      <article class="book small">
        <div class="shadow"></div>
        <img src='books/<%= image %>.jpg' alt="">
      </article>
    </script>

    <script type="text/template" id="toolbar-template" >
      <section class="toolbar">
        <header>
          <!-- <input type="text"> -->
          <h1>Find Books</h1>
          
          <button class="add left">Agregar</button>
          <button class="find right">Buscar</button>
        </header>
      </section>
    </script>

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="manage-books-template">
      <div id="toolbar">
        <a href="#search" class="search"> buscar</a>
        <a href="#add" class="add">agregar</a>
      </div>
      <div id="user-info">
        Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>

      <section class="section add">

        <header id="add">
          <input id="book-title" class="field" placeholder="¿Cual es el titulo del libro?" type="text" />
          <input id="book-author" class="field" placeholder="¿Quien lo escribio?" type="text" />
        </header>
        <div id="main">
          <ul id="book-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

      </section>
      <section class="section search">

        <header id="search">
          <input id="search-query" class="field" placeholder="Buscar" type="text" />
        </header>
        <div id="main">
          <ul id="book-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

      </section>
    </script>

    <script type="text/template" id="book-template-old">
      <li>
        <div class="view">
          <label class="title"><%= title %></label>
          <label class="author"><%= author %></label>
          <button class="destroy"></button>
        </div>
        <input class="edit title" value="<%= title %>">
        <input class="edit author" value="<%= author %>">
      </li>
    </script>

    <script src="js/findbooks.js"></script>
  </body>

</html>
