<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=yes,initial-scale=1.0,maximum-scale=1,minimum-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <title>FindBooks app</title>
    <link href="css/normalize.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/app.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/findbooks/style.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="js/jquery.js"></script>
    <script src="js/quo.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="js/iscroll-lite.js"></script>
    <script src="js/parse-1.1.15.min.js"></script>
    
  </head>

  <body>


    <div id="all" class="application">
      <div class="front"></div>
    </div>

    <div class="loading">
      <div class="center">
        <div class="img"></div>
      </div>
    </div>


    <script type="text/template" id="book-detail-template">
      <section id="book-detail" class="popup view scrollable bottom animate"><div>
        <section id="photo" class="display-none book image medium left">
          <div class="shadow"></div>
          <img src='' alt="">
        </section>
        <section class="inner" id="detail">
          <h1><%= title %></h1>
          <h2 class=""><%= author %></h2>
          <p class="display-none paragraph medium">
            
          </p>
        </section>
        <section class="inner" id="offer-list">
          <ul class="vertical">
            
          </ul>
        </section>
      </div></section>
    </script>

    <script type="text/template" id="add-template">
      <section id="add" class="popup view bottom animate have-toolbar">
        <section id="toolbar-add-view" class="toolbar top">
          <header>
            <button id="close" class="close left text">Cancelar</button>
            <button id="add-book-done" class="done right text">Listo</button>
            <div class="left">
              <h1 class="ellipsis">Agregar un libro que tengo</h1>
            </div>
            
            
          </header>
        </section>

        <div id="add-content" class="scrollable"><div>

        <form>

          <label>
            <span class="label">Título:</span>
            <span class="input">      
              <input type="text" name="book-title" id="book-title">
            </span> 
          </label>
        
          <label>
            <span class="label">Autor/es:</span>
            <span class="input">
              <input type="text" name="author-name" id="author-name">
            </span>
          </label>
        
          <label>
            <span class="label">Categoría:</span>
            <span class="input">
              <select name="category-name" id="category-name">
                <option value=""></option>
                <option value="Niños">Niños</option>
                <option value="Novela">Novela</option>
                <option value="Biografia">Biografia</option>
                <option value="Ciencia Ficción">Ciencia Ficción</option>
              </select>              
            </span>
          </label>

          <button type="button" id="book-photo" class="photo c1">Tomale una foto a tu libro</button>

          <section id="image-input-photo" class="book medium">
            <div class="shadow"></div>
            <div class="loading-bar hover">
              <div class="complete"></div>
              <div class="cancel"></div>
            </div>
            <img src='' alt="">
          </section>

          <label>
            <span class="label">Quiero: </span>
            <span class="input">
              <select id="offer-type">
                <option value="sell">Venderlo</option>
                <option value="lend">Prestarlo</option>
                <option value="rent">Alquilarlo</option>
                <option value="donate">Donarlo</option>
              </select>              
            </span>
          </label>

          <section id="sell" class="toggle-section">
            <label>
              <span class="label">Precio: ¢</span>
              <span class="input">
                <input type="number" id="sell-price">
              </span>
            </label>
          </section>

          <section id="lend" class="toggle-section">
            <label>
              <span class="label">Tiempo:</span>
              <span class="input">
                <input style="width:50%" type="number" id="lend-time">
                <select style="width:50%" id="lend-time-type">
                  <option value="hour">Hora/s</option>
                  <option value="day">Dia/s</option>
                  <option value="week">Semana/s</option>
                </select> 
              </span>
            </label>
          </section>

          <section id="rent" class="toggle-section">
            <p>
              ¿Cuanto deseas cobrar por una hora?
            </p>
            <label>
              <span class="label">Precio: ¢</span>
              <span class="input">
                <input type="number" id="rent-price">
              </span>
            </label>
            <p>
              ¿Cuanto es el tiempo maximo que lo deseas alquilar?
            </p>
            <label>
              <span class="label">Tiempo:</span>
              <span class="input">
                <input style="width:45%" type="number" id="rent-time">
                <select style="width:50%" id="rent-time-type">
                  <option value="hour">Hora/s</option>
                  <option value="day">Dia/s</option>
                  <option value="week">Semana/s</option>
                </select> 
              </span>
            </label>
          </section>

          <section id="donate" class="toggle-section">
            <p>¡Felicidades! por compartir el conocimiento y la verdad, con mas personas.</p>
          </section>

          
          <div class="clearfix"></div>
        </form>

      </div></div></section>
    </script>

    <script type="text/template" id="search-template"> 
      <section id="search" class="display-none view scrollable sidebar right animate"><div>
          <ul>
          
          </ul>
      </div></section>
    </script>

    <script type="text/template" id="home-template"> 
      <section id="home" class="doble-column view show-right animate">
        <section id="highlight" class="scrollable column  left"><div>
          
          <ul id="public" class="grid"></ul>
          

        </div></section>

        <section id="belongings" class="scrollable column  right"><div>
          <div class="inner">
            <h1>Mis Libros</h1>
            <button class="log-out " style="">Salir </button>
          </div>
          <ul id="personal" class="grid">

          </ul> 
        </div></section>
      </section>
    </script>

    <script type="text/template" id="book-template">
      <article class="book small">
        <div class="shadow"><p class="ellipsis"><%= title %></p>

        </div>
        <div class="border"><div><div></div></div></div>
        <img src='<%= picture.url %>' alt="">
        <!-- -->
      </article>
    </script>

    <script type="text/template" id="offer-li-template">
      <a class="offer-li <%= type %>">
        <div class="shadow">
        </div>
        <img src='<%= picture.url %>' alt="">
        <button class="right">Solicitar</button>
        <p class="ellipsis"><%= user.username %></p>
        <p class="ellipsis"><%= description %></p>
      </a>
    </script>

    <script type="text/template" id="toolbar-template">
      <section id="toolbar-main" class="toolbar view">
        <header>
          <button class="add left">Agregar</button>
          <button class="back hide left">Atras</button>

          <button class="search right">Buscar</button>
          <button class="find right">Encontrar</button>

          <div class="center">
            <div class="search-input hide">
              <input id="search-query" type="text" >
            </div>
          </div>
          
          <div class="center title-app">
            <h1>Find Books</h1>
          </div>
          
        </header>
      </section>
    </script>

    <script type="text/template" id="login-template">
      <section id="login" class="scrollable full view"><div>
        <form class="centered login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="centered signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div></section>
    </script>

    <script type="text/javascript" src="../cordova-2.3.0.js"></script>
    <script type="text/javascript" src="app/models.js"></script> 
    <script type="text/javascript" src="app/views/log-in.js"></script> 
    <script type="text/javascript" src="app/views/toolbar.js"></script> 
    <script type="text/javascript" src="app/views/popup.js"></script> 
    <script type="text/javascript" src="app/views/book.js"></script> 
    <script type="text/javascript" src="app/views/home.js"></script> 
    <script type="text/javascript" src="app/views/add-book.js"></script> 
    <script type="text/javascript" src="app/views/search.js"></script> 
    <script type="text/javascript" src="app/views/offer-li.js"></script> 
    <script type="text/javascript" src="app/views/book-detail.js"></script> 
    <script type="text/javascript" src="app/views/app.js"></script> 
    <script type="text/javascript" src="app/router.js"></script> 
    <script type="text/javascript" src="app/app.js"></script> 
  </body>

</html>
