<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,height=device-height,user-scalable=no,initial-scale=1.0,maximum-scale=1,minimum-scale=1.0" />
    <title>Parse FindBooks app</title>
    <link href="css/reset.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/style.css" media="all" rel="stylesheet" type="text/css"/>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.1.11.min.js"></script>
  </head>

  <body>

    <section class="toolbar">
      <header>
        
        <h1>Find Books</h1>
        <button class="add"></button>
        <button class="find"></button>
      </header>
    </section>

    <!-- Todo App Interface -->
    <section id="home" class="doble-column">
      <section id="highlight" class="column left">
        <div class="row">
          <article>
            <div class="book-shadow small library"></div>
            <img src="books/diary.jpg" alt="titulo" class="book small">
          </article>
          <article>
            <div class="book-shadow small library"></div>
            <img src="books/diary.jpg" alt="titulo" class="book small">
          </article>
          <article>
            <div class="book-shadow small library"></div>
            <img src="books/diary.jpg" alt="titulo" class="book small">
          </article>
        </div>
        <div class="row">
          <article>
            <div class="book-shadow small library"></div>
            <img src="books/diary.jpg" alt="titulo" class="book small">
          </article>
          <article>
            <div class="book-shadow small library"></div>
            <img src="books/diary.jpg" alt="titulo" class="book small">
          </article>
          <article>
            <div class="book-shadow small library"></div>
            <img src="books/diary.jpg" alt="titulo" class="book small">
          </article>
          <article>
            <div class="book-shadow small library"></div>
            <img src="books/diary.jpg" alt="titulo" class="book small">
          </article>
        </div>
      </section>

      <section id="personal" class="column right">
        <div class="row">
          <article>
            <div class="book-shadow"></div>
            <img src="books/diary.jpg" alt="" class="book small">
          </article>
        </div>
        <div class="row">
          <article>
            <div class="book-shadow"></div>
            <img src="books/diary.jpg" alt="" class="book small">
          </article>
        </div>
      </section>
    </section>


    <!--<div id="todoapp">
      <div class="title">
        <h1>Parse FindBooks</h1>
      </div>
      <div class="content">

      </div>
    </div>

    <div id="credits">
      Powered by <a href="https://www.parse.com">Parse</a> using the <a href="https://www.parse.com/docs/js_guide">JavaScript SDK</a>
    </div>-->

    <!-- Templates -->

    <script type="text/template" id="login-template">
      <header id="header"></header>
      <div class="login">
        <form class="login-form">
          <h2>Log In</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="login-username" placeholder="Username" />
          <input type="password" id="login-password" placeholder="Password" />
          <button>Log In</button>
        </form>

        <form class="signup-form">
          <h2>Sign Up</h2>
          <div class="error" style="display:none"></div>
          <input type="text" id="signup-username" placeholder="Username" />
          <input type="password" id="signup-password" placeholder="Create a Password" />
          <button>Sign Up</button>
        </form>
      </div>
    </script>

    <script type="text/template" id="manage-books-template">
      <div id="toolbar">
        <a href="#search" class="search"> buscar</a>
        <a href="#add" class="add">agregar</a>
      </div>
      <div id="user-info">
        Signed in as <%= Parse.User.current().get("username") %> (<a href="#" class="log-out">Log out</a>)
      </div>

      <section class="section add">

        <header id="add">
          <input id="book-title" class="field" placeholder="¿Cual es el titulo del libro?" type="text" />
          <input id="book-author" class="field" placeholder="¿Quien lo escribio?" type="text" />
        </header>
        <div id="main">
          <ul id="book-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

      </section>
      <section class="section search">

        <header id="search">
          <input id="search-query" class="field" placeholder="Buscar" type="text" />
        </header>
        <div id="main">
          <ul id="book-list">
            <img src='images/spinner.gif' class='spinner' />
          </ul>
        </div>

      </section>
    </script>

    <script type="text/template" id="book-template">
      <li>
        <div class="view">
          <label class="title"><%= title %></label>
          <label class="author"><%= author %></label>
          <button class="destroy"></button>
        </div>
        <input class="edit title" value="<%= title %>">
        <input class="edit author" value="<%= author %>">
      </li>
    </script>

    <script src="js/findbooks.js"></script>
  </body>

</html>
