/*Estructura*/
/*#view .photo*/
* {
    background:transparent;
}

form .label{
	color: #787464;
}
form input, form select{
	/*background-color: #eee;*/
}
form label{
	background-image: url(images/form_input.png);
	background-size: auto 100%;
	border:none;
	background-repeat: repeat-x;
}
form label.f-focus{
	background-image: url(images/form_input_focus.png);
}
form span.label, form span.input{
	background-image: url(images/form_input_base.png);
	background-repeat: no-repeat;
	background-size: auto 20%;
	background-position: bottom left;
}
form span.input{
	background-position: bottom right;
}

form select{
	background-image: url(images/select.png);
	background-size:auto 45%;
	background-repeat: no-repeat;
	background-position: center right;
}

body{
	background-color: rgb(37, 44, 37);
	background-image:	url(images/texture.png)
}

.doble-column .column.right {
	border-left: 2px solid black;
}
.doble-column .column.left {
	border-right: 2px solid black;
}
.doble-column .column, #search{
	background-color: rgb(37, 44, 37);
	background-image:	url(images/texture.png)
}

.column>div, #search>div{
	min-height: 100%;
	/*background-color: */
	/*-webkit-box-shadow:inset 0 0 20px 0 black, 0 0 10px black;*/
	background: url(images/fondo.jpg);
}

.popup div button{
	/*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(216,211,195,0.55) 9%, rgba(194,187,161,0.55) 14%); /* FF3.6+ */*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(9%,rgba(216,211,195,0.55)), color-stop(14%,rgba(194,187,161,0.55))); /* Chrome,Safari4+ */*/
	/*background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,211,195,0.55) 9%,rgba(194,187,161,0.55) 14%); /* Chrome10+,Safari5.1+ */*/
	/*background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,211,195,0.55) 9%,rgba(194,187,161,0.55) 14%); /* Opera 11.10+ */*/
	/*background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(216,211,195,0.55) 9%,rgba(194,187,161,0.55) 14%); /* IE10+ */*/
	/*background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(216,211,195,0.55) 9%,rgba(194,187,161,0.55) 14%); /* W3C */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#8cc2bba1',GradientType=0 ); /* IE6-9 */

	background-size: auto 100%;
	background-image: url(images/button.png);
	border: 1px solid rgba(51,45,20,0.3);
	color: #2B2816;
}
.popup div button:active, .android.old .popup div button.f-active{
	background-image: url(images/button_active.png);
	padding-top: 0.5em;
}

	/*background: -moz-linear-gradient(top,  rgba(117,117,71,0.5) 0%, rgba(186,180,152,0.55) 9%, rgba(194,187,161,0.55) 10%, rgba(194,187,161,0.55) 22%); /* FF3.6+ */*/
	/*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(117,117,71,0.5)), color-stop(9%,rgba(186,180,152,0.55)), color-stop(10%,rgba(194,187,161,0.55)), color-stop(22%,rgba(194,187,161,0.55))); /* Chrome,Safari4+ */*/
	/*background: -webkit-linear-gradient(top,  rgba(117,117,71,0.5) 0%,rgba(186,180,152,0.55) 9%,rgba(194,187,161,0.55) 10%,rgba(194,187,161,0.55) 22%); /* Chrome10+,Safari5.1+ */*/
	/*background: -o-linear-gradient(top,  rgba(117,117,71,0.5) 0%,rgba(186,180,152,0.55) 9%,rgba(194,187,161,0.55) 10%,rgba(194,187,161,0.55) 22%); /* Opera 11.10+ */*/
	/*background: -ms-linear-gradient(top,  rgba(117,117,71,0.5) 0%,rgba(186,180,152,0.55) 9%,rgba(194,187,161,0.55) 10%,rgba(194,187,161,0.55) 22%); /* IE10+ */*/
	/*background: linear-gradient(to bottom,  rgba(117,117,71,0.5) 0%,rgba(186,180,152,0.55) 9%,rgba(194,187,161,0.55) 10%,rgba(194,187,161,0.55) 22%); /* W3C */*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#80757547', endColorstr='#8cc2bba1',GradientType=0 ); /* IE6-9 */
	
#search, #search>div{
	/*background: url(../../images/fondo.png);*/
}

#login input{
	color: black;
}

.popup{
	color: black;
	background: #E6E3DA;
	border:1px solid #E6E3DA;
	/*-webkit-box-shadow: 1px 3px 50px black;*/
	border-radius: 5px;
}
.popup .toolbar{
	color: white;
	border-radius:4px 4px 0 0;

	background-color: #005827; 
	background-image: url(images/popup_toolbar.png);
	background-size: auto 100%;
	/* background: -moz-linear-gradient(top,  #005827 0%, #007d34 5%, #008134 5%, #00662e 12%, #004f23 40%, #003112 100%); FF3.6+
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#005827), color-stop(5%,#007d34), color-stop(5%,#008134), color-stop(12%,#00662e), color-stop(40%,#004f23), color-stop(100%,#003112)); Chrome,Safari4+
	background: -webkit-linear-gradient(top,  #005827 0%,#007d34 5%,#008134 5%,#00662e 12%,#004f23 40%,#003112 100%); Chrome10+,Safari5.1+
	background: -o-linear-gradient(top,  #005827 0%,#007d34 5%,#008134 5%,#00662e 12%,#004f23 40%,#003112 100%); Opera 11.10+
	background: -ms-linear-gradient(top,  #005827 0%,#007d34 5%,#008134 5%,#00662e 12%,#004f23 40%,#003112 100%); IE10+
	background: linear-gradient(to bottom,  #005827 0%,#007d34 5%,#008134 5%,#00662e 12%,#004f23 40%,#003112 100%); W3C
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#005827', endColorstr='#003112',GradientType=0 ); IE6-9 */
}

.toolbar{
	background-color: #00375b;
	background-image: url(images/main_toolbar.png);
	background-size: auto 100%;
    /*background-image:url(images/texture.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00182d), color-stop(2%,#00375b), color-stop(13%,#085793), color-stop(32%,#053e6d), color-stop(97%,#023058));*/
    /*background-image:url(images/texture.png), -webkit-linear-gradient(top,  #00182d 0%,#00375b 2%,#085793 13%,#053e6d 32%,#023058 97%);*/
	/*background-image:url(images/texture.png),      -o-linear-gradient(top,  #00182d 0%,#00375b 2%,#085793 13%,#053e6d 32%,#023058 97%);*/
	/*background-image:url(images/texture.png),     -ms-linear-gradient(top,  #00182d 0%,#00375b 2%,#085793 13%,#053e6d 32%,#023058 97%);*/
	/*background-image:url(images/texture.png),   linear-gradient(to bottom,  #00182d 0%,#00375b 2%,#085793 13%,#053e6d 32%,#023058 97%);*/
	/*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#153249', endColorstr='#112f49',GradientType=0 );*/
}
.toolbar button{
	border-radius: 10px;
	border: 1px solid rgba(0,0,0,0.4);
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4),
				0 1px 1px rgba(100,200,255,0.2),
				inset 0 0 8px rgba(0,0,0,0.3),
				inset 0 1px 1px rgba(100,200,255,0.2);
}
.toolbar button:active, .android .toolbar button.f-active{
	border: 1px solid rgba(0,0,0,0.4);
	background-color: rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 0 8px rgba(255,255,255,0.4),
				inset 0 0 8px rgba(0,0,0,0.5),
				0 1px 1px rgba(100,200,255,0.2);
}
.toolbar .search-input input{
	border-bottom: 2px solid yellow;
    color: yellow;
}

button.add{
	background: url(images/button_add.png) no-repeat center center;
	background-size:auto 50%;
}
button.find, button.search{
	background: url(images/button_find.png) no-repeat center center;
	background-size:auto 50%;
}
button.back{
	background: url(images/button_back.png) no-repeat center center;
	background-size:auto 50%;
}

ul.vertical li {
    border-top: 1px solid rgba(51,45,20,0.3);
}

.book .border{
	height: 100%;
	width: 100%;
	/*padding: 1px;*/
	overflow: hidden;
	-webkit-box-shadow:inset 0 0 1px 1px rgba(28,14,0,0.4);
	border-bottom: 1px solid rgba(28,14,0,0.8);
	margin-top: -1px;
}
.book .border>div{
	height: 100%;
	padding: 1px;
	margin-bottom: -1px;
}
.book .border>div>div{
    -webkit-box-shadow:inset 0 0 1px 1px rgba(255,250,232,0.2);
	height:100%;
}
.book .shadow, .book .border{
	position: absolute;
}
.book .shadow{
	width: 120%;
	height: 20%;
	left: -10%;
	bottom: -8%;
	background: url(images/shadow3.png) no-repeat center center;
	background-size: 100% 100%;
	z-index: 10;
}
.book p{
	text-shadow: 1px 1px 10px black;
}

.loading div.img{
	background: url(images/loading@2x.png) no-repeat center center;
	background-size: 95% auto;
	width:50px;
    height:60px;
}

.android.old .toolbar button{
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.4);
}
.android.old .book p{
	text-shadow: none;
}
.android.old .book .border>div>div{
    -webkit-box-shadow:none;
}
.android.old .book .border{
    -webkit-box-shadow:none;
}
.android.old .book .img{
	border: 1px solid rgba(28,14,0,0.5);
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 

body, #search{
	background: #481F0B url(images/fondo@2x.jpg);
}

.toolbar{
    background-image:url(images/texture@2x.png), -webkit-linear-gradient(top,  #00182d 0%,#00375b 2%,#085793 13%,#053e6d 32%,#023058 97%);
}


}
