/*Estructura*/
/*#view .photo*/


form .label{
	color: #787464;
}
form input, form select{
	background-color: #eee;
}
form select{
	background-image: url(images/select.png);
	background-size:auto 45%;
	background-repeat: no-repeat;
	background-position: center right;
}

#search, #search>div{
	background: url(../../images/fondo.png);
}

#add .toolbar{ 
	background: #006303;
	color: white;
}

#login input{
	color: black;
}

.popup{
	color: black;
	background: #E6E3DA;
	border:1px solid #E6E3DA;
}

.toolbar{
    background: #1C3D61;
}

.loading div.img{
	background: url(images/loading.png) no-repeat center center;
	background-size: 100% auto;
	width:43px;
    height:54px;
}
