<div id="toolbar-template" >
<section id="toolbar-main" class="toolbar">
        <header>
          <div class="center search-input hide">
            <input id="search-query" type="text" >
          </div>
          <div class="center title-app">
            <h1>Find Books</h1>
          </div>
          
          <button class="add left">Agregar</button>
          <button class="search right">Buscar</button>
          <button class="find right">Encontrar</button>
          <button class="back hide left">Atras</button>
        </header>
      </section>
</div>